[Desktop Entry]
Type=Application
Name=CZEditor
Icon=CZEditor
Terminal=false
Exec=czeditor
Categories=AudioVideo;AudioVideoEditing;Qt;
GenericName=Video Editor
